{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>CovidTrack</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'assets/img/intellis-favicon.png' %}"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}"
    />

    <!-- Datatables CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/datatables/datatables.min.css' %}"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <div class="header-left">
          <a href="{% url 'doctor-page' %}" class="logo">
            <img src="{% static 'assets/img/intellis-logo-big.png' %}" />
          </a>
          <a href="{% url 'doctor-page' %}" class="logo logo-small">
            <img src="{% static 'assets/img/intellis-logo-small.png' %}" />
          </a>
        </div>
        <!-- /Logo -->

        <!-- Sidebar Toggle -->
        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-bars"></i>
        </a>
        <!-- /Sidebar Toggle -->

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
          <i class="fas fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Menu -->
        <ul class="nav user-menu">
          <!-- User Menu -->
          <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img">
                <img src="{% static 'assets/img/profiles/avatar.png' %}" />
                <span class="status online"></span>
              </span>
              <span>Dr. {{doctor.last_name}}</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href={% url 'admin:index' %}
                ><i data-feather="user" class="mr-1"></i> Staff panel</a
              > 
              <a class="dropdown-item" href="{% url 'logout' %}"
                ><i data-feather="log-out" class="mr-1"></i> Logout</a
              >
            </div>
          </li>
          <!-- /User Menu -->
        </ul>
        <!-- /Header Menu -->
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              
              <li class="active">
                <a href="#"
                  ><i class="fas fa-user-nurse"></i>
                  <span>Reffered to this department </span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">IntelliS</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">UNITS</a>
                  </li>
                  <li class="breadcrumb-item active">{{department}}</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Page Header -->

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th><b>ID</b></th>
                          <th><b>AILMENT</b></th>
                          <th><b>PATIENT</b></th>
                          <th><b>DATE</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for disease in diseases %}
                        <tr>
                          <td>{{disease.id}}</td>
                          <td>{{disease.title}}</td>
                          <td>{{disease.patient.first_name}} {{disease.patient.last_name}} </td>
                          <td>{{disease.date.date}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Feather Icon JS -->
    <script src="{% static 'assets/js/feather.min.js' %}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Datatables JS -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
